<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        li{
            list-style: none;
            float: left;
            width: 30%;
            border: solid 1px black;
            white-space: nowrap;
            overflow: hidden;
            min-width:30px;
        }
    </style>
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".load_ul li").click(function(){
                window.location.href="http://m.pufei.net/"+$(this).attr("href");
            });
        });
    </script>
</head>
    <div style="width: 100%">

        <ul class="load_ul">
            {% for comic_info in comic_info_list%}
            <li title={{comic_info["title"]}} href={{comic_info["href"]}}>
                {{comic_info["title"]}}
            </li>
            {% endfor%}
        </ul>
    </div>
</body>
</html>